* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-family: "Poppins", sans-serif;
}
header {
  background-color: #131c27;
  color: white;
  text-decoration: none;
}
h1 {
  font-size: 2.6rem;
}
h2 {
  font-size: 3.6rem;
}
li,
label,
input,
p {
  font-size: 2rem;
}
button {
  background: #4c6e97;
  font-size: 1.8rem;
  color: white;
  padding: 2rem 6rem;
  border: none;
  cursor: pointer;
  transition: background 0.75s ease-in-out;
}
button:hover {
  background: #131c27;
}
a {
  color: white;
  text-decoration: none;
}

header > nav {
  display: flex;
  width: 90%;
  margin: auto;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
}
header > nav > h1 {
  padding: 2rem;
  width: 50%;
  font-family: "Pattaya", sans-serif;
  font-weight: regular;
}
header > nav > ul {
  display: flex;
  width: 50%;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}

.home {
  min-height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), transparent),
    url("./assets/images/landing-page.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.home > p {
  padding: 5vh;
  font-weight: normal;
}

#locations {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), transparent),
    url("./assets/images/new-york-page.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
#locations > div {
  width: 50%;
  margin-left: 10%;
}
#locations > div > h2 {
  padding: 1vh 0;
  text-decoration: underline;
  text-decoration-thickness: 0.5rem;
}
#locations > div > p {
  padding: 2vh 0;
  background: linear-gradient(#131c27, #663b34);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.cloud {
  position: absolute;
  top: 0;
  right: 0;
  animation: cloudAnimation 10s infinite alternate ease-in-out;
}
.cloud-background {
  opacity: 0.5;
  top: 10%;
  z-index: -1;
}
@keyframes cloudAnimation {
  from {
    transform: translate(10%, -10%);
  }
  to {
    transform: translate(8%, -8%);
  }
}

@media screen and (max-width: 932px) {
  html {
    font-size: 45%;
  }
  header > nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header > nav > h1 {
    padding: 2rem;
    text-align: center;
  }
  header > nav > ul > li {
    padding: 0 2rem 2rem;
  }
  .cloud {
    height: 40rem;
    pointer-events: none;
  }
  #locations > div > p {
    background: rgba(19, 28, 39, 0.9);
    -webkit-text-fill-color: white;
    padding: 1rem;
  }
}
